########################################
# Python
########################################

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

########################################
# Virtual environments
########################################

.venv/
venv/
env/
ENV/

########################################
# Conda
########################################

conda-meta/
*.conda

########################################
# Node / React
########################################

node_modules/
dist/
build/
*.log

########################################
# OS
########################################

.DS_Store
Thumbs.db

########################################
# IDE
########################################

.vscode/
.idea/

########################################
# PaddleOCR models
########################################

.paddleocr/

########################################
# Pipeline data gerada
########################################

paddle_ocr_pipeline/data/images/
paddle_ocr_pipeline/data/ocr_text/
paddle_ocr_pipeline/data/sections/
paddle_ocr_pipeline/data/tables/
paddle_ocr_pipeline/data/parsed/
paddle_ocr_pipeline/data/metrics/
paddle_ocr_pipeline/data/evaluation/
paddle_ocr_pipeline/data/crops/
paddle_ocr_pipeline/data/regions/
paddle_ocr_pipeline/data/.ultralytics/
paddle_ocr_pipeline/data/models/
paddle_ocr_pipeline/data/yolo/regions/images/
paddle_ocr_pipeline/data/yolo/regions/labels/
paddle_ocr_pipeline/data/yolo/regions_ready/
paddle_ocr_pipeline/data/yolo/regions.zip
paddle_ocr_pipeline/data/yolo/regions_ready.zip

########################################
# Backend runtime
########################################

paddle_ocr_pipeline/backend/uploads/
paddle_ocr_pipeline/backend/outputs/
paddle_ocr_pipeline/backend/archives/
paddle_ocr_pipeline/backend/method_runs_summary.json
paddle_ocr_pipeline/backend/method_comparison_summary.json

########################################
# React
########################################

paddle_ocr_pipeline/frontend/node_modules/
paddle_ocr_pipeline/frontend/dist/
paddle_ocr_pipeline/frontend/build/

########################################
# Logs
########################################

*.log
logs/
